/* Front-end custom css */

/* Reserved Seating */
.modal-big .modal-container {
    width: 100%;
}
.modal-big .modal-container .modal-content {
    min-height: 800px;
}

.modal-small .modal-container {
    width: auto;
    margin: auto;
}
.modal-small .modal-container .modal-content {
    min-height: auto;
}

.is-relative {
    position: relative;
}

.seat-container {
    position: relative;
    overflow: inherit;
    width: 650px;
    margin: 0 auto;
    padding: 0;
}
.seat-img {
    padding: 0 !important;
    margin: 0 auto!important;
    width: 100% !important;
    border-radius: 8px;
    border: 2px solid #777;
    display: block;
}
.seat-img-chart{
    padding: 0 !important;
    margin: 0 auto!important;
    width: 100% !important;
    border-radius: 8px;
    border: 2px solid #777;
    display: block;
}
.seat-mark {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 8px;
    background-color: #1b89ef;
    color: #fff;
    line-height: 2;
    text-align: center;
    box-shadow: 1px 1px 5px -2px #000;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    left:var(--left);
    top:var(--top);

}
.seat-disabled{
    background-color: #999;
    cursor: not-allowed !important;
}
.seat-reserved {
    background-color: #bd3372;
    cursor: not-allowed !important;
}
.seat-select {
    background-color: #38c172;
}
.seat-disabled-col {
    color: #999;
}
.seat-reserved-col {
    color: #bd3372;
}
.seat-select-col {
    color: #38c172;
}
.seat-available-col {
    color: #1b89ef;
}
.p-0 {
    padding: 0 !important;
}
.m-0 {
    margin: 0 !important;
}
.w-100 {
    width: 100% !important;
}
.m-auto {
    margin: auto;
}
.no-display {
    display: none;
}

.seat-checkbox {
    position: absolute;
    z-index: 999999;
    height: 24px;
    width: 24px;
    padding: 0 !important;
    margin: 0 !important;
    display: none;
    cursor: pointer;
}


/* Authorize.net */
.wrapper-cc {
    display: flex;
    padding: 2rem;
}
@media screen and (max-width: 700px), (max-height: 500px) {
    .wrapper-cc {
        flex-wrap: wrap;
        flex-direction: column;
   }
}
.card-form {
    max-width: 570px;
    margin: auto;
    width: 100%;
}
@media screen and (max-width: 576px) {
    .card-form {
        margin: 0 auto;
   }
}
.card-form__inner {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    padding: 35px;
    padding-top: 180px;
}
@media screen and (max-width: 480px) {
    .card-form__inner {
        padding: 25px;
        padding-top: 165px;
   }
}
@media screen and (max-width: 360px) {
    .card-form__inner {
        padding: 15px;
        padding-top: 165px;
   }
}
.card-form__row {
    display: flex;
    align-items: flex-start;
}
@media screen and (max-width: 480px) {
    .card-form__row {
        flex-wrap: wrap;
   }
}
.card-form__col {
    flex: auto;
    margin-right: 35px;
}
.card-form__col:last-child {
    margin-right: 0;
}
@media screen and (max-width: 480px) {
    .card-form__col {
        margin-right: 0;
        flex: unset;
        width: 100%;
        margin-bottom: 20px;
   }
    .card-form__col:last-child {
        margin-bottom: 0;
   }
}
.card-form__col.-cvv {
    max-width: 150px;
}
@media screen and (max-width: 480px) {
    .card-form__col.-cvv {
        max-width: initial;
   }
}
.card-form__group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card-form__group .card-input__input {
    flex: 1;
    margin-right: 15px;
}
.card-form__group .card-input__input:last-child {
    margin-right: 0;
}
.card-form__button {
    width: 100%;
    height: 55px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .card-form__button {
        margin-top: 10px;
   }
}
.card-item {
    max-width: 430px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    width: 100%;
}
@media screen and (max-width: 480px) {
    .card-item {
        max-width: 310px;
        height: 220px;
        width: 90%;
   }
}
@media screen and (max-width: 360px) {
    .card-item {
        height: 180px;
   }
}
.card-item.-active .card-item__side.-front {
    transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
}
.card-item.-active .card-item__side.-back {
    transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
}
.card-item__focus {
    position: absolute;
    z-index: 3;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.65);
}
.card-item__focus:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #08142f;
    height: 100%;
    border-radius: 5px;
    filter: blur(25px);
    opacity: 0.5;
}
.card-item__focus.-active {
    opacity: 1;
}
.card-item__side {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
    transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
    transform-style: preserve-3d;
    transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    backface-visibility: hidden;
    height: 100%;
}
.card-item__side.-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
    z-index: 2;
    padding: 0;
    height: 100%;
}
.card-item__side.-back .card-item__cover {
    transform: rotateY(-180deg);
}
.card-item__bg {
    max-width: 100%;
    display: block;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-item__cover {
    height: 100%;
    background-color: #1c1d27;
    position: absolute;
    height: 100%;
    background-color: #1c1d27;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.card-item__cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 2, 29, 0.45);
}
.card-item__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 10px;
}
@media screen and (max-width: 480px) {
    .card-item__top {
        margin-bottom: 25px;
   }
}
@media screen and (max-width: 360px) {
    .card-item__top {
        margin-bottom: 15px;
   }
}
.card-item__chip {
    width: 60px;
}
@media screen and (max-width: 480px) {
    .card-item__chip {
        width: 50px;
   }
}
@media screen and (max-width: 360px) {
    .card-item__chip {
        width: 40px;
   }
}
.card-item__type {
    height: 45px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 100px;
    margin-left: auto;
    width: 100%;
}
@media screen and (max-width: 480px) {
    .card-item__type {
        height: 40px;
        max-width: 90px;
   }
}
@media screen and (max-width: 360px) {
    .card-item__type {
        height: 30px;
   }
}
.card-item__typeImg {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    object-position: top right;
}
.card-item__info {
    color: #fff;
    width: 100%;
    max-width: calc(100% - 85px);
    padding: 10px 15px;
    font-weight: 500;
    display: block;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .card-item__info {
        padding: 10px;
   }
}
.card-item__holder {
    opacity: 0.7;
    font-size: 13px;
    margin-bottom: 6px;
}
@media screen and (max-width: 480px) {
    .card-item__holder {
        font-size: 12px;
        margin-bottom: 5px;
   }
}
.card-item__wrapper {
    padding: 25px 15px;
    position: relative;
    z-index: 4;
    height: 100%;
    text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
    user-select: none;
}
@media screen and (max-width: 480px) {
    .card-item__wrapper {
        padding: 20px 10px;
   }
}
.card-item__name {
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
@media screen and (max-width: 480px) {
    .card-item__name {
        font-size: 16px;
   }
}
.card-item__nameItem {
    display: inline-block;
    min-width: 8px;
    position: relative;
}
.card-item__number {
    font-weight: 500;
    line-height: 1;
    color: #fff;
    font-size: 27px;
    margin-bottom: 35px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .card-item__number {
        font-size: 21px;
        margin-bottom: 15px;
        padding: 10px 10px;
   }
}
@media screen and (max-width: 360px) {
    .card-item__number {
        font-size: 19px;
        margin-bottom: 10px;
        padding: 10px 10px;
   }
}
.card-item__numberItem {
    width: 16px;
    display: inline-block;
}
.card-item__numberItem.-active {
    width: 30px;
}
@media screen and (max-width: 480px) {
    .card-item__numberItem {
        width: 13px;
   }
    .card-item__numberItem.-active {
        width: 16px;
   }
}
@media screen and (max-width: 360px) {
    .card-item__numberItem {
        width: 12px;
   }
    .card-item__numberItem.-active {
        width: 8px;
   }
}
.card-item__content {
    color: #fff;
    display: flex;
    align-items: flex-start;
}
.card-item__date {
    flex-wrap: wrap;
    font-size: 18px;
    margin-left: auto;
    padding: 10px;
    display: inline-flex;
    width: 80px;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
}

@media (max-width: 767px) {
body .lgx-header .lgx-navbar .lgx-nav .dropdown-menu .dropdown-submenu ul.dropdown-menu {
    position: inherit;
    left: 0;
    border-radius: 0;
    box-shadow: none;
}

/*New responsive update css*/
.break-flex .col-md-3 .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.break-flex .col-md-3 {
    margin-bottom: 5px;
}
.list-group li .flex-row .my-0 {
    width: 68% !important;
}

li.list-group-item.d-flex.justify-content-between.lh-condensed.d-flex-wrap .w-30 {
    width: 100%!important;
}
li.list-group-item.d-flex.justify-content-between.lh-condensed.d-flex-wrap .mx-4{
    width: 100%;
    margin: 5px 0 !important;
}
li.list-group-item.d-flex.justify-content-between.lh-condensed.d-flex-wrap .w-20-mobile {
    width: 100%!important;
}

/*13-11-23*/
body .lgx-header .lgx-navbar .lgx-logo{
    /* width: auto; margin: auto; */
}
body .lgx-banner-info .subtitle{
        word-wrap: break-word;
    width: 46%;
    font-size: 28px;
}
.lgx-slider .slider-text-single figure figcaption .lgx-container .lgx-hover-link .lgx-vertical {
    display: contents;
    vertical-align: middle;
    margin-top: 57px;
}
.lgx-banner-img {
    margin-top: 50px;
}
.lgx-slider .slider-text-single figure figcaption {
    height: 100%;
    left: 0;
    position: inherit;
    top: 5%;
    width: 100%;
}
body .lgx-slider .slider-text-single figure > img {
    display: none;
}
body .lgx-banner-img img {
    max-width: 70%;
    max-height: 82%;
}
body .lgx-banner-img {
    max-width: 100%;
    height: 434px;
}
body .burger-top i{height: 75px;}
body .ban_img {
    width: 100%;
    height: 130px;
}
body .event_title{font-size: 16px;}
body .tickets_selection{flex-direction: column;}
body .ticket_left_content , body .ticket_right_content{
    width: 100%;
}
body .ticket_deliverd_type{flex-direction: column;}
.attendee_form input.form-input {
    margin-bottom: 6px;
}
body .eventlist_content{flex-direction: column;}
body .music_event {
    font-size: 18px;
    padding-bottom: 10px;
}
body .bookticket_btn{height: auto;}
/* responsive in checkout page*/
body .lgx-slider .slider-text-single figure > img {
    display: none;
}
body .lgx-banner-img img {
    max-width: 70%;
    max-height: 82%;
}
body .burger-top i{height: 75px;}
body .ban_img {
    width: 100%;
    height: 130px;
}
body .event_title{font-size: 16px;}
body .tickets_selection{flex-direction: column;}
body .ticket_left_content , body .ticket_right_content{
    width: 100%;
}

body .ticket_deliverd_type{flex-direction: column;}
.attendee_form input.form-input {
    margin-bottom: 6px;
}
body .eventlist_content{flex-direction: column;}
body .music_event {
    font-size: 18px;
    padding-bottom: 10px;
}
body .bookticket_btn{height: auto;}
.gold_ticket, .premium_ticket, .vip_ticket{flex-direction: column; gap:10px;}
body .plan_types_right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.sub_category_select, body .ticket_count{width: 100%;}
.number_of_tickets, .sub_category , body .number_of_tickets{padding:0;}
/* responsive in checkout page*/
body .bb-imgpart img {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 70%;
    left: 0;
}
body .bbb_viewed_title {
    margin-bottom: 5px;
    margin-top: 8px;
    width: 100%;
}

body .bbb_viewed_imagees:hover {
    transform: none;
}
body .bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 30px;
}
body .bbb_main_container {
        padding-left: 3px !important;
    padding-right: 0px !important;
}
.Cookie>* {
    margin: 0.9375rem 0;
    align-self: flex-start !important;
}

.zsiq_theme1 div.zsiq_cnt {

    left: -165px !important;
    width: 150px !important;
    padding: 8px 8px !important;
    height: 75px !important;
    line-height: 12px !important;
    min-width: 160px !important;
}

.zsiq_theme1 .zsiq_cnt p {
    font-size: 11px !important;
}
body .modal-footer{text-align: center;}
.custom-control.custom-checkbox a {
    text-align: center;
    float: none !important;
    display: block;
}
body .lgx-btn{
    margin: 0px auto !important;
}
.owl-item, .cloned{width: auto;}

}


@media (max-width: 580px) {
body .banner_img img.checkout_ban_img {
    min-height: 140px;
    max-height: 140px;
    object-fit: fill;
}


}


@media screen and (max-width: 480px) {
    .card-item__date {
        font-size: 16px;
   }
}
.card-item__dateItem {
    position: relative;
}
.card-item__dateItem span {
    width: 22px;
    display: inline-block;
}
.card-item__dateTitle {
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 6px;
    width: 100%;
}
@media screen and (max-width: 480px) {
    .card-item__dateTitle {
        font-size: 12px;
        padding-bottom: 5px;
   }
}
.card-item__band {
    background: rgba(0, 0, 19, 0.8);
    width: 100%;
    height: 50px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 480px) {
    .card-item__band {
        margin-top: 20px;
   }
}
@media screen and (max-width: 360px) {
    .card-item__band {
        height: 40px;
        margin-top: 10px;
   }
}
.card-item__cvv {
    text-align: right;
    position: relative;
    z-index: 2;
    padding: 15px;
}
.card-item__cvv .card-item__type {
    opacity: 0.7;
}
@media screen and (max-width: 360px) {
    .card-item__cvv {
        padding: 10px 15px;
   }
}
.card-item__cvvTitle {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
}
.card-item__cvvBand {
    height: 45px;
    background: #fff;
    margin-bottom: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: #1a3b5d;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
}
@media screen and (max-width: 480px) {
    .card-item__cvvBand {
        height: 40px;
        margin-bottom: 20px;
   }
}
@media screen and (max-width: 360px) {
    .card-item__cvvBand {
        margin-bottom: 15px;
   }
}
.card-list {
    margin-bottom: -130px;
}
@media screen and (max-width: 480px) {
    .card-list {
        margin-bottom: -120px;
   }
}
.card-input {
    margin-bottom: 20px;
}
.card-input__label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
}
.card-input__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
}
.card-input__input:hover, .card-input__input:focus {
    border-color: #3d9cff;
}
.card-input__input:focus {
    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
}
.card-input__input.-select {
    -webkit-appearance: none;
    background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC');
    background-size: 12px;
    background-position: 90% center;
    background-repeat: no-repeat;
    padding-right: 30px;
}
.slide-fade-up-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    position: relative;
}
.slide-fade-up-leave-active {
    transition: all 0.25s ease-in-out;
    position: absolute;
}
.slide-fade-up-enter {
    opacity: 0;
    transform: translateY(15px);
    pointer-events: none;
}
.slide-fade-up-leave-to {
    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
}
.slide-fade-right-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    position: relative;
}
.slide-fade-right-leave-active {
    transition: all 0.25s ease-in-out;
    position: absolute;
}
.slide-fade-right-enter {
    opacity: 0;
    transform: translateX(10px) rotate(45deg);
    pointer-events: none;
}
.slide-fade-right-leave-to {
    opacity: 0;
    transform: translateX(-10px) rotate(45deg);
    pointer-events: none;
}

.iframe-full iframe {
    width: 100%;
    height: 80vh;
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.profile-pic {
    width: 10%;
}
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}

#review_modal {
    display: none;
}

.VueCarousel-pagination {
    position: absolute;
    bottom: 2%;
}

#card-element {
    margin-bottom: 2rem;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.lgx-banner.event-poster {
    background-color: #00192f;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    min-height: 100vh;
    -moz-box-shadow: inset 0 68px 100px #00192e;
    -webkit-box-shadow: inset 0 68px 100px #00192e;
    box-shadow: inset 0 68px 100px #00192e;
}

.lgx-registration-form-box {
    padding: 4.2rem 3rem;
    text-align: left !important;
}
.register-lable-text
{
    color:#fff;
}

.lgx-registration-form-box input.form-control, .lgx-registration-form-box input.wpcf7-form-control {
    background: hsla(0,0%,100%,.2);
    border-radius: 4px;
    color: #fff;
    display: block;
    height: 50px !important;
    margin-bottom: 1.5rem;
    width: 100%;
}

.lgx-registration-form-box {
    padding: 0rem 0rem !important;
    text-align: left !important;
}

.lgx-registration-form-box .title {
    color: #fff;
    font-size: 42px;
    font-size: 3.2rem !important;
    line-height: 63px;
    line-height: 6.3rem;
    margin-bottom: 0.5rem !important;
    margin-top: 0;
}
.login-wrapper {
    margin-top: 0rem !important;
    min-height: 70vh;
}

/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
  }

  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 10001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */

    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;

    /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 10000; /* absurdity 2 */
  }

  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }

  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }

  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }

  /* FLOW: DOWN */
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }

  /* FLOW: LEFT */
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }

  /* FLOW: RIGHT */
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }

  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }

  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }

  /* FX All The Things */
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }

  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }


  .lgx-schedule-checkout  {
    background: #e3e4e5 !important;
}
.lgx-panel a .lgx-single-schedule .schedule-info .time {
    float: none;
}

/* New Ui Changes */


.bbb_viewed {
    padding-top: 51px;
    padding-bottom: 60px;
    background: #eff6fa
}

.bbb_main_container{
        background-color: #fff;
   padding: 11px;
}

.bbb_viewed_title_container {
    border-bottom: solid 1px #dadada
}

.bbb_viewed_title {
        margin-bottom: 16px;
   margin-top: 8px;
   width: 100%;

}

.bbb_viewed_nav_container {
    position: inherit;
text-align: right;
}

.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer
}

.bbb_viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i {
    color: #606264
}

.bbb_viewed_prev {
    margin-right: 15px
}

.bbb_viewed_slider_container {
    padding-top: 13px;
}

.bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 0px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 6px
}

.bbb_viewed_image {
        /* width: 150px;
   height: 150px; */
}
.event_date {
    border-radius: 20px;
    background: #F1F1F1;
    display: flex;
    justify-content: inherit;
    gap: 10px;
    padding: 5px 12px;
}
.bbb_viewed_image img {
    display: block;
    max-width: 100%;
    max-height: 400px;
    min-height: 400px;
}


.bbb_viewed_content {
    width: 100%;
    margin-top: 25px;
    text-align: left;
}

.bbb_viewed_price {
    font-size: 16px;
    color: #000000;
    font-weight: 500
}

.bbb_viewed_item.discount .bbb_viewed_price {
    color: #df3b3b
}

.bbb_viewed_price span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 8px
}

.bbb_viewed_price span::after {
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: ''
}

.bbb_viewed_name {
    margin-top: 3px
}

.bbb_viewed_name_events_list {
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_name_events_list:hover {
    color: #0e8ce4
}

.item_marks {
    position: absolute;
    top: 18px;
    left: 18px
}

.item_mark {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center
}

.item_discount {
    background: #df3b3b;
    margin-right: 5px
}

.item_new {
    background: #0e8ce4
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}
.bbb_main_container {
    background-color: #fff;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.bbb_viewed {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #eff6fa;
}
.bbb_viewed_title_container {
    border-bottom: none;
}
.owl-item{
    width: 300px;
/* height: 487px; */
flex-shrink: 0;
}
.bbb_viewed_image.border {
    overflow: hidden;
    transition: all 0.3s;
    transform: scale(1);
    border-radius: 20px;
}
.bbb_viewed_imagees:hover{
    transform: scale(1.3);
}

/* .bbb_viewed_image.border:hover{

} */
.owl-item,.cloned{
    width: 350px;
}
.calender_icon{
    width: 24px !important;
    height: 24px;
}
.bbb_viewed_name {
    margin-top: 3px;
    font-weight: 500;
    font-size: 24px;
}
.bbb_viewed_smallname{
color: #7D7D7D;
font-size: 14px;
font-weight: 400;
}

.seeall{
    color: #FF5C02;
    font-size: 22px;
    font-weight: 400;
    float: right !important;
}
.bbb_item0, .bbb_item1, .bbb_item2, .bbb_item3, .bbb_item4 {
    width: 331px;
    /* display: flex; */
    height: 250px;
    flex-shrink: 0;
    border-radius: 20px;
    transform: scale(1);
    margin-right: 15px;
    overflow: hidden;
    /* background: red !important; */
}
.relative{
    position: relative;
}
.bb-imgpart img {
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    right: 10px;
    margin-top: 15px;
    max-width: 65%;
}

.bb-imgpart {
    align-items: end;
    height: 174px;
    margin-top: 14px;
    padding-bottom: 10px;
    position: relative;
}
.bb-imgpart img {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.bbb_item0{
    background: linear-gradient(121deg, #0278ff 2.41%, #4b80f1 101.84%);

}

.bbb_item1{
    background: linear-gradient(121deg, #FF5C02 2.41%, #EEF14B 101.84%);

}
.bbb_img1:hover , .bbb_img2:hover , .bbb_img3:hover , .bbb_img4:hover{
    transform: scale(1.1);
}
.bbb_item2 {
    background: linear-gradient(120deg, #E35B9F 0%, #9F418D 100%);
}
.bbb_item3{
    background: linear-gradient(122deg, #6100FF 2.65%, rgba(219, 0, 255, 0.00) 157.55%);
}

.bbb_item4{

    background: linear-gradient(118deg, #E25B48 1.71%, #BE5C73 93.74%);
}
.bbb_info{
font-size: 22px;
 font-weight: 600;
 color:rgb(249, 249, 249);
 padding: 15px;
 line-height: 30px;
}
.silent-text{
     padding-left: 15px;
    color:rgb(249, 249, 249);
    line-height: 0px;
}
.bbb_img1{
    margin-left: 28px;
    margin-top: 84px;
}
.bbb_img2{
    margin-left: 63px;
    margin-top: 22px;
}
.bbb_img3{
    margin-left: 67px;
    margin-top: 34px;
}
.bbb_img4{
    margin-left: 50px;
    margin-top: 34px;
}
.owl-carousel .owl-items img {
    display: block;
    width: 86%;
}

.lgx-banner-info .subtitle {
    color: #FF5C02;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0px;
    text-shadow: none;
}
.lgx-banner-info .title{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.lgx-slider .slider-text-single figure figcaption .lgx-container {

    max-width: 1300px;

}
.lgx-btn-red {

    border-radius: 20px;
    background: linear-gradient(92deg, #FF5C02 0%, #1B89EF 101.24%);
}

.banner_img{
    /* margin-top: 105px;
    position: relative;
    min-height:520px;*/
}
.ban_img{
    width: 100%;
}
/* .overlay_div {
    position: absolute;
  right: 100;
  top: 30;
} */

.wrapper {
    padding: 10px;
    width: 100%;
    border-radius: 5px;

}

.tab-content {
    padding: 10px 20px;
}
.nav-tabs a {
    border: 0!important;
    background-color: transparent!important;
}
.nav-tabs li.active {
    border-bottom: 3px solid #FF5C02;

}
.nav-tabs li {
    border-bottom: 2px solid transparent;
}
.nav-tabs li a {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
ul.nav.nav-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
.nav-tabs li {
    display: flex;
    align-items: flex-start;
    margin: 0!important;
}
.tabs-wrapper{
	position: relative;
}
span.left, span.right {
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#060608;
    border-radius: 50%;
    left: -50px;
    top: 8px;
    cursor: pointer;
    color: #ffffff;
}
span.right{
 right: -50px;
 left:unset;

}
.scroller-btn.inactive {
    opacity: 0.3;
    pointer-events: none;
}

#scroller > li.active > a {
    color: #FF5C02;
}
.nav>li>a {
    padding: 10px 15px;
    color: black;
}

.tab_info{
    padding: 30px;
}
.bullet{
    list-style: disc;
}
.tab3_info{
    padding: 30px;
    display: flex;
    align-items: center;
}
.map{
    border-bottom: 2px solid rgb(61, 58, 55);
    width: 100%;
    height: 200px;
}
.map .vue-map-container{width: 100% !important;}
.map_info {
    font-weight: 400;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 40px;
    line-height: 1.3;
    color: #000000;
}
.ticket_info{
    color: #dadada;
}
.ban_info {
    background: rgb(8 13 64);
    padding: 15px;
    height: 100%;
}
.ticket_info{
    line-height: 40px;
    display: flex;
    margin-bottom: 12px;
}
.input{
    padding-left: 40px;
    text-align: start;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.ban_buttons{
    margin-top: 30px;
    display: inline;
    display: flex;
    /* justify-content: space-around; */
}
.btn_cancel{
    width: 70%;
}

.event_btn {
   background-color: #F6552E;
   display: inline-flex;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    font-size: 15px;

}
.date_btn {
    display: flex;
    gap: 40px;
}
.date_btn a{
    color: #ffffff;
}
.date_btn a:hover{
    color: #ffffff;
}
.share_icon{
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    padding-bottom: 30px;
}

.events {
    display: flex;
}

.book {
    margin-left: 800px;
    margin-top: 60px;
    align-items: center;
    border-radius: 5px; background: #FF5C02; display: inline-flex;
    height: 52px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    text:white;
}
.ticket{
    color: #F6F6F6
}



.main {
    padding: 5PX;
    margin: 40px;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hi {
    align-items: center;
    margin: 15px;
    margin-top: 50px;

}

.menu {
   display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.menu-heading {
    margin: 0;
    margin-left: 62px;
}


/* .fc {
    border: 2px solid #000;
} */

.fc-day {
    padding: 5px;
}


.fc-toolbar-center {
    margin: 0;
}

.fc-header-toolbar {
    justify-content: space-between;
}

.listBtn {
    padding-left: 80px;
    padding-right: 80px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #FF5C02;
    color: #F6F6F6;
    margin-right: 0;
    cursor:pointer;
    border:1px solid;
}

.calenderBtn {
    padding-left: 50px;
    padding-right: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor:pointer;
    border:1px solid;

}
.eventlist_content{
    padding-right:20px;
    display: flex;
    background-color: #F6F6F6;
    align-items: center;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    margin-bottom:20px;
    overflow: hidden;

}
.bookticket_btn {
    display: block;
    margin-left:auto;
    margin-right: 20px;
    border-radius: 5px;
    background: #FF5C02;
    padding: 12px 24px;
    justify-content: center;
    cursor: pointer;
}
.bookticket_btn span{
    color: #F6F6F6;
}
.hooo{
    display: flex;
    justify-content: space-between;
}
.event_content{
    justify-content: space-between;
    padding: 30px;
}
.music_event{
    color: #000;
    font-weight: 600;
    font-size: 22px;
}
.burger-top {
    float: left;
}
.burger-top i {
    font-size: 34px;
    color: #1c1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 90px;
    margin-right: 20px;
}
.search_box{
    position: absolute;
    top: 47%;
    margin-right: 8px;
    padding: 0px 7px;
    transform: translateY(-50%);
}
.form-input{
    padding: 1rem 3rem;
    align-items: center;
}
.countery-top input#hs-leading-icon {
    border-radius: 4px;
    padding: 3px;
    padding-left: 48px;
    border: 1px solid #7c7878;
}
.countery-top {
    margin-top: 22px;
}
.Search-sports input {
    padding: 6px 44px 6px 32px !important;
    line-height: 1.5;
}
.topburger-popup {
    background-color: #ebebeb;
    width: 100%;
    min-width: 350px;
    max-width: 350px;
    padding: 15px 15px 15px 0;
    margin: 20px;
    border-radius: 18px;
    position:absolute;
    left:-372px;
    /* transform: translateX(-372px); */
    transition: left 1s ease-in-out;

}
.topburger-popup.show_menu{
    left:0px;
    /* transform: translateX(0px);*/
}
.burger-box {
    background-color: #fff;
    border-radius: 14px;
    padding: 15px;
}

.burger-box ul {
    padding: 24px 0;
    list-style: none;
}

.burger-box ul li a {
    font-size: 20px;
    color: #ff660e;
    font-weight: 500;
    display: -webkit-box;
    padding: 10px 30px;
    border-radius: 10px;
}

.burger-box ul li {
    padding-bottom: 5px;
}

.burger-box ul li a i {
    margin-right: 10px;
}

.burger-box ul li a:hover {
    background-color: #080d40;
    color: #fff;
    border-radius: 30px;
}


.slide-menu {
    width: 250px;

    background-color: #111;
    position: fixed;
    top: 0;
    left: -370px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #fff;
}

.slide-menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.slide-menu a:hover {
    color: #f1f1f1;
}


.burger-top {
    float: left;
}
.burger-top i {
    font-size: 34px;
    color: #1c1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 90px;
    margin-right: 20px;
}
.search_box {
    position: absolute;
    top: 50%;
    margin-right: 8px;
    padding: 0px 7px;
}
.form-input{
    padding: 1rem 3rem;
    align-items: center;
}
.countery-top input#hs-leading-icon {
    border-radius: 4px;
    padding: 3px;
    padding-left: 48px;
    border: 1px solid #7c7878;
}
.countery-top {
    margin-top: 24px;
}
.Search-sports input {
    padding: 6px 32px 6px 32px !important;
    line-height: 1.5;
    font-size: 14px;
    text-emphasis: inherit;
    white-space: normal;
    width: 100%;
    min-width: 250px;
}
.topburger-popup {
    background-color: #ebebeb;
    width: 100%;
    min-width: 350px;
    max-width: 350px;
    padding: 15px 15px 15px 0;
    margin: 100px 20px 20px;
    border-radius: 18px;
    z-index: 2;
}
.burger-box {
    background-color: #fff;
    border-radius: 14px;
    padding: 15px;
}

.burger-box ul {
    padding: 24px 0;
    list-style: none;
}

.burger-box ul li a {
    font-size: 20px;
    color: #ff660e;
    font-weight: 500;
    display: -webkit-box;
    padding: 10px 30px;
    border-radius: 10px;
}

.burger-box ul li {
    padding-bottom: 5px;
}

.burger-box ul li a i {
    margin-right: 10px;
}

.burger-box ul li a:hover {
    background-color: #080d40;
    color: #fff;
    border-radius: 30px;
}
/* .banner_img {
    min-height: 380px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
} */

/* slogan fix*/

.brand-name {
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-block;
}

.lgx-header .lgx-navbar .lgx-logo {
    display: inline-block;
    margin-top: 0.8rem;
    width: 300px;
}

.lgx-header .lgx-navbar .lgx-logo a img {
    float: left;
    height: 52px;
    margin-right: 5px;
    margin-top: 0px;
}

.brand-slogan {
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    top: 42px;
}

.lgx-footer-black .lgx-inner-footer {
    background: #fff;
    border-top: 1px solid !important;
}
.filter {
    padding-right: 60px;
    font-size: 30px;
    color: #000;

}

.modal.fade.right:not(.in) .modal-dialog {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.modal.right .modal-dialog {
    position: fixed;
    height: 100%;
    width: 100%;
    margin-right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.modal-content {
    height: 100vh;
    box-sizing: border-box;
    margin-top: 0;
    width: 100%;
}

.filter-modal .modal-dialog {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    box-shadow: transparent;
    width: 100%;
    min-width: 450px;
    position: fixed;
    right: 0;
    height: 100%;
    max-width: 75rem;
    /* width: 500px !important; */
    left: auto;
}

.row {
    display: flex;
    justify-content: space-between
}

.ticket_count {
    width: 100%;

}

.row1 {
    padding: 3px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.resetButton,
.continueButton {
    border: 1px solid #FF5C02;
    border-radius: 6px;
    padding: 0 20px;
}

.resetButton {
    color: #FF5C02;
    background-color: #FF5C02;
}

.continueButton {
    color: white;
    background-color: #FF5C02;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-modal.left .modal-dialog,
.custom-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.custom-modal.left .modal-content,
.custom.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.custom-modal.left .modal-body,
.custom-modal.right .modal-body {
    padding: 15px 15px 80px;
}
.custom-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}



/* Banner image*/

.banner-img{
    /* margin-top: 105px; */
    position: relative;
}
.ban_img {
    width: 100%;
    max-height: 389px;
}
/* .overlay_div {
    position: absolute;
    right: 0;
    top: 0;
    width: 34%;
} */

.wrapper {
    padding: 10px;
    width: 100%;
    border-radius: 5px;

}

.tab-content {
    padding: 10px 20px;
}
.nav-tabs a {
    border: 0!important;
    background-color: transparent!important;
}
.nav-tabs li.active {
    border-bottom: 3px solid #FF5C02;

}
.nav-tabs li {
    border-bottom: 2px solid transparent;
}
.nav-tabs li a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
ul.nav.nav-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
.nav-tabs li {
    display: flex;
    align-items: flex-start;
    margin: 0!important;
}
.tabs-wrapper{
	position: relative;
}
span.left, span.right {
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#060608;
    border-radius: 50%;
    left: -50px;
    top: 8px;
    cursor: pointer;
    color: #ffffff;
}
span.right{
 right: -50px;
 left:unset;

}
.scroller-btn.inactive {
    opacity: 0.3;
    pointer-events: none;
}

#scroller > li.active > a {
    color: #FF5C02;
}
.nav>li>a {
    padding: 10px 15px;
    color: black;
}

.tab_info{
    padding: 30px;
}
.bullet{
    list-style: disc;
}
.tab3_info{
    padding: 30px;
    display: flex;
    align-items: center;
}
.map{
    border-bottom: 2px solid rgb(61, 58, 55);
}
.map_info {
    font-weight: 400;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 40px;
}
.ticket_info{
    color: #dadada;
}
/* .ban_info {
    background: rgba(0, 0, 0, 0.50);
    padding: 30px;
} */
.ticket_info{
    line-height: 40px;
}
.input{
    padding-left: 40px;
    text-align: start;
    font-size: 15px;
    font-weight:500;
}
.ban_buttons{
    margin-top: 30px;
    display: inline;
    display: flex;
    gap: 70px;

}
.btn_cancel{
    width: 70%;
}

.date_btn {
    display: flex;
    gap: 40px;
}
.date_btn a{
    color: #ffffff;
}
.date_btn a:hover{
    color: #ffffff;
}
.share_icon{
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    padding-bottom: 30px;
}
.label_width{
    min-width: 130px !important;
    line-height: 1.5;
}

.brand-name, .brand-slogan {
    position: inherit;
}

.ticket_banner {
    position: relative;
    text-align: center;
}

.ticket_banner_img {
    position: relative;
    display: inline-block;
}

.ban_img {
    display: block;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.ticket_banner_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust the color as needed */
    z-index: 1;
}
.event_title{
    color: #FFF;
    font-family: Segoe UI;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.ticket_banner_img{
    background: rgba(8, 13, 64, 0.60);
    backdrop-filter: blur(2.5px);
}
.ban_img{
    background: rgba(8, 13, 64, 0.60);
    backdrop-filter: blur(2.5px);
}
.event_subtitle{
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
}
.tickets_selection{
    display: flex;
    width: 95%;
    margin: 0 auto;
    gap: 30px;
}
.ticket_left_content{
    width:60%;
    /* text-align: center; */
    padding: 0px;
}
.ticket_list{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #3D517F;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
}
.ticket_type{
    margin-top:30px;
    margin-bottom:30px;
}
.ticket_price{
    background-color: #FFF;
    padding:6px 8px;
    color: black;
}
.plan_type{
    color: #FFF;
    padding-left: 10px;
    width: 150px;
    text-align: start;
    display:flex;
    gap:10px;
}
.ticket_tab .event_tax {
    display:inline-block;
}
.number_of_tickets{
    padding-right: 10px;
}
.ticket_count{
    width: 50px;
    text-align: center;
}
.plan_img{
    width: 60%;
}
.ticket_form{
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #bfbbbb;
    margin-top: 30px;
}
.ticket_details{
    border-radius: 50px 50px 0px 0px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    background: #3D517F;
}
.search_by_postodee,.adress_dropdown{
    width: 100%;
    height: 42px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 17px;
}

.adress_dropdown1 {
    width: 100%;
    height: 42px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 8px;
}
.ticket_form_info{
    padding: 15px;
    border-bottom: 1px solid #BFBFBF;
}
.details_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.details_info_voucher {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    gap:10px;
    /* margin-bottom: 5px; */
}
.ticket_price_details{
    padding: 10px;
}
.apply{
    background-color:#FF5C02;
    padding: 3px 9px;
    border: 2px solid #FF5C02;
    color:#FFF;
    cursor: pointer;
}
.details_info1{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    /* padding: 15px; */
}

.details_info2 {
    display: flex;
    justify-content: space-between;
}
.payments{
    padding: 15px;
    border-bottom: 1px solid #BFBFBF;
}
.payment_type{
    margin-bottom: 10px;
    /* margin-top: 18px; */
    display: flex;
    align-items: center;
}
.addmoney{
    background-color:#FF5C02;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color:#FFF;
}
.tickets_buttons{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    gap:30px;
    text-align: center;
    justify-content: center;
    margin:0px 30px;
}
.btn_1{
    padding: 5px 10px;
    color: #FF5C02;
    border-radius: 5px;
    border: 2px solid #FF5C02;
}
.btn_2{
    background:#FF5C02;
    padding: 5px 12px;
    border-radius: 5px;
    color:#FFF;

}
.ticket_right_content{
    margin-bottom: 20px;
}
.head_text_info{
    font-weight: 600;
    color: #000;
    padding-right: 20px;
    margin-top: 4px;
}
.ticket_label{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.ticket_label1{
    color: #000;
    font-size: 19px;
    font-weight: 500;
    width: 250px;
}
.price_input{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.price_input1{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}
.radio_label{
    margin-top: 2px;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    accent-color: #ff5c02;
    margin: 0 10px 0 0 !important;
    width: 19px;
    height: 19px

}
.attende_details{
    border-radius: 10px;
    border: 1px solid #9A9A9A;
    flex-shrink: 0;
    padding: 30px;
    margin-bottom: 30px;
}
.attende_title{
    border-radius: 10px;
    background: #CDCDCD;
    padding:10px;
    color: #000;
    padding-left: 30px;
    text-align: start;
    font-size: 19px;
    font-weight: 500;
}
.attendee_form{
    padding-top: 20px;
}
.row{
    padding-bottom: 15px;
}
.form-input{
    stroke-width: 1px;
    stroke: #707070;
    border-radius: 8px;
    border: 2px solid #e4e4e4;
    box-shadow: none;
    color: #151414;
    display: block;
    font-size: 14px;
    height: 44px;
    padding: 1rem 2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}
.attendee_checkbox{
    text-align: start;
}
.ticket_deliverd_type{
    display: flex;
}
.relative {
    position: relative;
}
.search_box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right:10px;
    padding: 10px;
}
.form-input{
    padding: 1rem 3rem;
    align-items: center;
}
.search_box1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* margin-right: 10px; */
    padding: 10px;
    right:0px;
}
.search_by_postodee1{
    width: 100%;
    height: 42px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 17px;
    padding-left: 10px;
    padding-right:38px;
}
.ticket_type_select{
    display: flex;
    align-items: center;
    letter-spacing: normal;
    line-height: 19.5px;
    line-height: 1.95rem;
    opacity: 1;
    padding: 0.6rem 1.5rem!important;
    transition-duration: .3s;
}
header {
    border-bottom: 3px solid #c1bdbd;}
div#event_list {
    width: 93%;
    margin: 20px auto;
}
.eventlist_img {
    max-width: 320px;
    min-height: 160px;
    height: 160px;
}
header {
    border-bottom: 3px solid #c1bdbd;
}


.plan_type_subtitle{
    font-size: 10px;
    padding-top: -10px;
    padding-left: 10px;
    text-align: start;
    line-height:20px;
}

.plan_types_right{
    display: flex;
    justify-content: space-between;
}



.plan_types_left{
    display: flex;
    align-items: center;
}
.plan_add{
    color: rgb(51, 215, 51);
    font-size: 20px;
    font-weight: 500;
    border:none;
    background: none;
}
.number_of_tickets,.sub_category{
    padding-right: 20px;

}
.sub_category_select,.ticket_count{
    padding: 8px 15px;
    background-color: #FFF;
    border-radius: 4px;
}
.sub_category_select{
    padding: 5px 20px;
}
.plan_delete{
    margin-left: 21px;
    color: #ff3399;
    border:none;
    background: none;
}

.condition-wrap label {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
}

.condition-wrap .custom-control {
    display: flex;
    align-items: start;
}

.condition-wrap {
    padding: 15px;
}

.walletBalance strong {
    color: #ff5c02;
}

.walletBalance {
    padding-left: 30px;
}
.menu-heading {
    margin: 0;
    margin-left: 62px;
}

.fullcalendar-event #calendar{
    width: auto;
    margin: 20px auto;
    height: 700px;
}
.footer-custom-menu {
    align-items: start;
    border-top: 1px solid hsla(0,0%,100%,.1);
    justify-content: center;
}
.lgx-header .menu-onscroll {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: rgb(255 255 255);
    box-shadow: 0 10px 20px -12px rgba(0,0,0,.42), 0 3px 20px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    position: fixed !important;
    top: 0;
    transform-origin: center;
    width: 100%;
    z-index: 1000;
}
.lgx-header .menu-onscroll .lgx-navbar .lgx-nav li a {
    color: #000;
}


.VueCarousel-slide {
    flex-basis: auto !important;
}


/* .lgx-slider .slider-text-single figure figcaption .lgx-container {
    margin: inherit !important;
} */

.lgx-footer-bottom {
    border-top: 1px solid hsl(0deg 79.71% 5.26%) !important;

}


table.table {
    border: none;
}

.table-header {
    background: #949191a2;
}



.table-body {
    background-color: #D4D4D4;
}

.booking-btn {
        background: #00B289;
    padding: 7px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;

}
.buttons-column {
    display: flex;
    flex-direction: column;
}
.cancel-btn{
    border-radius: 10px;
    background: #FF494A;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    color: #D4D4D4;
    margin-left: 25px;

}
.check-btn{
    background: #FF5C02;
    padding: 10PX 10PX 10px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.mx-icon-calendar, .mx-icon-clear {
    color: rgba(0,0,0,.5);
    font-size: 16px;
    line-height: 1;
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle;
    }
    mx-datepicker .mx-input-wrapper {
        position: static!important;
    }
.fc .fc-toolbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

button.fc-prev-button.fc-button.fc-button-primary , button.fc-next-button.fc-button.fc-button-primary{
    margin: 0 40px !important;
}

.calander_thumb .calander-thumTitle h3 {
    color: #fff;
    font-size: 11px !important;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.3;
    margin-top: 0px !important;
}

.calander_thumb img {
    position: absolute;
    height: 58px !important;
    width: 100%;
    top: -10px !important;
}


.lgx-header-position-fixed {
    margin-top: 0 !important;

}


.welcome-slider .VueCarousel-slide {
    flex-basis: inherit !important;
}
.ban_img {
    min-height: 387px !important;
    object-fit: cover;
}

.checkout_ban_img{
    object-fit: cover;
}


.bullet a:hover{
    color: #1b89ef !important;
}


/* Student voucher strip*/
.students_badge_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.middle_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.students_baj{
   background-color: #080D40;

}
.copy_logo{
    display:flex;
    align-items: center;
}

.middile_text{
    margin-left: 20px;
    font-size: 20px;
}
.copy_logo_text{
    margin-left: 10px;
    font-size: 15px;

}
/* Student voucher strip*/

.modal-mask .modal-content{
    height: auto !important;
}

.lgx-btn{
    background: #ff5c02;
    color:#fff;
}

.btn-primary {
    background-color: #ff5c02;
    border-color: #ff5c02;
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: #ff5c02;
    border-color: #ff5c02;
    color: #fff;
}

.btn_1:hover {
    padding: 5px 10px;
    color: #FF5C02;
    border-radius: 5px;
    border: 2px solid #FF5C02;
}

.flagcountry {
    position: absolute !important;
    left: 7px !important;
    top: 12px !important;
}

.flagcountry-attendee{
    position: absolute !important;
    left: 7px !important;
    top: 9px !important;
}
.ticket_label{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    width: 250px;
}
.voucher_wrapper {
    display:flex;
    align-items:top;
}
.search_box2 {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);

    padding: 8px;
    right: 0px;
}

/*new css update*/
/* .banner {
    position: relative;
    min-height: 390px;
    max-height: 390px;
    height: 100%;
}
.ban_img {
    min-height: 390px !important;
    height: 100%;
    max-height: 390px;
} */
i.fas.fa-glass-cheers {
    margin: 0 8px;
}
.ticket_details h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.lgx-footer-single.footer-contact {
    margin-right: 60px;
}
.listCalender {
    border: 1px solid #c9c7c7;
    padding: 7px 0;
    border-radius: 25px;
    margin-right: 15px;
}
.side {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-brand-name {
    color: #0a0a0a!important;
}

/*Add new Responsive css last update 16nov.23*/
@media (min-width: 1200px) and (max-width: 1500.98px) {
    .Search-sports input {
        padding: 6px 32px 6px 32px !important;
    line-height: 1.5;
    font-size: 14px;
    text-emphasis: inherit;
    white-space: normal;
    width: 100%;
    min-width: 250px;

    }

}

@media (min-width: 768px) and (max-width: 1199.98px) {

.navbar-default .navbar-toggle span{    background-color: #080d40!important;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #080d40!important;
}

.overlay_div {
    /* position: absolute;
    right: 0;
    top: 0;
    width: 50%; */
}
.input , .event_btn{font-size: 15px;}
.tickets_selection {
    display: flex;
    width: 95%;
    margin: 0 20px;
    flex-direction: column;
}
.ticket_left_content{width: 100%; padding: 0;}
.ticket_type{margin-bottom: 0;}
.ticket_form{margin-top: 0;}
.listBtn, .calenderBtn{
    padding-left: 20px;
    padding-right: 20px;
}

 }


@media (max-width: 991px) {
    #navbar_vue ul li, #navbar_vue ul li div {
    padding: 4px 2px;
    margin: 0 !important;
}
.lgx-header .lgx-navbar .lgx-nav li a, .lgx-header .menu-onscroll .lgx-navbar .lgx-nav li a {
    padding: 0px 2px;
    display: block;
    color: #fff;
}
body .lgx-header-position-fixed .navbar-collapse {
    margin-top: 0;
}
.overlay_div{width: 60%;}
.banner {
    position: relative;
    min-height: 290px;
    max-height: 290px;
    height: 100%;
    overflow: hidden;
}
.banner_img {
    min-height: 230px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
body .ban_img {
    height: 100%;
    object-fit: fill;
}


.ticket_info {
    line-height: 30px;
}
.label_width {
    min-width: 85px;
    display: inline-block;
}
.input, .event_btn {
    font-size: 12px;
}
input[type=checkbox], input[type=radio]{width: auto;}
body .tickets_buttons{margin: 0px 12px;gap: 10px;}
body .adress_dropdown1{margin-bottom: 10px;}
.vue_get_address_io_wrapper .search_results{margin: 0;}
body .ticket_details h3 {
    margin: 0;
}
body .ticket_details {
    border-radius: 20px 20px 0px 0px;}
.ticket_list {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    /* flex-direction: column; */
}
.form-control {
    border-radius: 7px;
    font-size: 14px;
    height: 42px;
    margin-bottom: 10px;
}
body .form-group {
    margin-bottom: 3px;
}
body .countery-top {
    margin-top: 5px;
}
.width-adjust {
    white-space: inherit;
}
.lgx-banner-info .subtitle{font-size: 26px;}
.lgx-slider .slider-text-single figure figcaption .lgx-container .lgx-hover-link .lgx-vertical {
    vertical-align: top;
}
.footer-custom-menu {
    justify-content: space-between;
}
/* body .brand-name, .brand-slogan {
       position: absolute;
    padding-top: 28px;
    margin-left: 10px;
} */
body .lgx-header .lgx-navbar .lgx-logo a img {
    float: left;
    height: 52px;
    margin-right: 5px;
    margin-top: -8px;
}
body .lgx-header .lgx-navbar .lgx-logo {
    display: inline-block;
    margin-top: 16px;
    width: 225px;
    padding-bottom: 10px;
    margin-left: 0;
}
.Search-sports input {
    padding: 6px 10px 6px 24px !important;
    line-height: 1.5;
    height: 34px;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
    margin-top: 12px;
    margin-left: 0px;
}
body .lgx-header {
  min-height: 48px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}
#navbar_vue ul li ul li {
    padding: 0;
}
body .bbb_main_container {
    padding: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

}

@media (max-width: 767px) {
body .lgx-banner-info .subtitle{width: 100%; margin-top:0;}
/* body .lgx-header .lgx-navbar .lgx-logo{margin-top:0; width: auto;} */
.brand-name{
    font-size: 1.6rem;
    left: 75px;
    top: 18px;
}
.brand-slogan {
    left: 75px;
}
.navbar{display: block !important;}
.brand-slogan{top:35px;}
.brand-name{top:12px;}
.nav-tabs li a {
    font-size: 13px;
    padding: 5px 8px !important;
}
.ticket_banner_img .ban_img {
    min-height: 130px !important;
}
body .ticket_left_content {
    padding: 5px 10px;
}
body .ticket_type {
    margin-top: 10px;
    margin-bottom: 10px;
}
body .ticket_form {
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #bebebe;
    margin-top: 0;
    margin: 0 5px;
}
body .bookticket_btn{margin-right: 0; margin-bottom:15px;}
body .eventlist_content{padding-right: 0;}
body .eventlist_img {
    max-width: 100%;
    min-height: auto;
    height: auto;
    width: 100%;
}
body .bookticket_btn {
    display: block;
    margin: auto;
    border-radius: 5px;
    background: #FF5C02;
    padding: 12px 24px;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
}
body .side {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
body .listBtn {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0px;
    margin-right: 0;
}
body .calenderBtn {
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;
    margin-left: 0;
}
body .filter {
    padding-right: 6px;
    font-size: 24px;
    color: #000;
}
body .menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}
div#calendar {
    padding: 10px !important;
}
body button.fc-prev-button.fc-button.fc-button-primary, body button.fc-next-button.fc-button.fc-button-primary {
    margin: 0 5px !important;
}
body .menu-heading {
    margin-left: 0;
}
.profile_main {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
}
body .lgx-banner-img img {
    max-width: 100%;
    max-height: initial;
    height: auto;
}
body .ban_animation1,body .ban_animation2,body .ban_animation3,body .ban_animation4{width: 70%;}
.footer-custom-menu{    justify-content: space-between;}
body .lgx-banner-img {
    max-width: 35%;
}
.ban_buttons{justify-content: center;}
.btn-group-sm>.btn, .btn-sm{    padding: 5px 5px;}
.map , .vue-map-container{width: 100% !important;}
body .vue-map-container{position: inherit;}
.tab-content {
    padding: 10px 3px;
}
.map_info {
    font-weight: 400;
    font-size: 20px;
    padding-left: 0;
    padding-top: 24px;
    line-height: 1.3;
}
#filterModal .modal-content {
    height: 100vh;
    box-sizing: border-box;
    margin-top: 0;
    width: 80%;
    float: right;
    overflow: hidden;
    overflow-y: scroll;
}
.lgx-header-position-white .lgx-nav-right .lgx-search a, .lgx-header-position-white .lgx-navbar .lgx-nav li a {
    color: #ffffff;
}
.lgx-footer-single.footer-contact {
    margin-right: 0;
}
body .ticket_list {

    flex-direction: column;
}
body .ticket_price {
    background-color: #FFF;
    padding: 8px 8px;
    width: 100%;
    border-radius: 5px;
}
.number_of_tickets, .sub_category {
    padding-right: 0;
}
body .plan_types_left {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.plan_type1:empty {
    display: none;
}

body .bbb_viewed_imagees:hover {
    transform: none;
}
body .bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 30px;
}

}

@media (max-width: 580px) {
body .lgx-banner-info .subtitle {
    font-size: 22px;
}
body .lgx-banner-info .title {
    font-size: 24px;
}
/* body .lgx-banner-img {
    display: none;
} */
body .seeall {
    font-size: 16px;
}
/* body .bbb_main_container {
    padding-left: 25px;
    padding-right: 0px;
} */
.buttons-column .booking-btn, .buttons-column button, .buttons-column a.lgx-btn {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 7px;
}
body .lgx-banner-img {
    max-width: 100%;
}
.overlay_div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.nav-tabs li a {
    font-size: 12px;
    padding: 5px 5px !important;
}
.ban_info {
    background: rgba(8, 13, 64 ,0.75);
    padding: 30px 8px 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
body .seat-img{
    width: 100% !important;
    display: block;
}
body .seat-container{    width: 320px;
    height: 230px;}
body .ticket_price , .sub_category_select{width: 100%;
    border-radius: 5px;}
.number_of_tickets, .sub_category{padding-right: 0;}

body .lgx-header .lgx-navbar .lgx-logo {
    display: inline-block;
    margin-top: 16px;
    width: 70%;
    padding-bottom: 10px;
}

.seat-mark {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 8px;
    background-color: #1b89ef;
    color: #fff;
    line-height: 2;
    text-align: center;
    box-shadow: 1px 1px 5px -2px #000;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    left:calc((var(--left) * 320/650));
    top:calc((var(--top) * 230/500 ));
    /* left:calc((var(--left) / 2));
    top:calc((var(--top) /2)); */
}
.mx-datepicker-main {
    width: 400px;
}

body .tickets_buttons {
    margin: 0px 0px;
    gap: 5px;
}
body .tickets_buttons{
    flex-direction: column;
    width: 100%;
}
body .lgx-btn {
    padding: 1rem 1.5rem;
    width: 100% !important;
    margin: 0 auto;
}
body .input {
    padding-left: 15px;
}
body .ticket_info {
    line-height: 20px;
    margin-bottom: 5px;
}
body .ban_buttons{gap: 5px;}
body .event_btn{padding: 12px 20px;}




}

.brand-name, .brand-slogan {
    margin-left: 10px;
    position: unset;
}
.anchor_links:hover{
    color: #ec398b;
}
.lgx-header .menu-onscroll .lgx-navbar .lgx-logo a img {
    height: 52px !important;
    margin-top: 0 !important;
}
.ticket_banner:before {
    content: "";
    position: absolute;
    background-color: rgb(8 13 64 / 53%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.ticket_banner_content{z-index: 11;}
.delivery_address {
    display: flex;
    justify-content: space-between;
    flex-direction:column
}
.delivery_fee {
    display: flex;
    justify-content: space-between;
}
#filterModal .modal-body {
    overflow-y: auto;
    height: 100%;
    margin-bottom: 10px;
}

.croppa-lisview{
    height: 172px;
     width: 329px;
}

.croppa-calendar{
    height: 153px;
     width: 248px;
}

.croppa-checkout{
    height: 300px;
     width: 600px;
}

.event_btn_grey {
    background-color: #8e8b8a !important;
}
.table>thead>tr>th {
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
    white-space: nowrap;
}
ul.bullet li a:focus {
color: #1da5e8;
}

.banner_img{
        min-height: auto !important;
}
.ban_img_detail{
    min-height: 387px !important;
    /* object-fit: cover; */

}
.ticket_price_details1{
    padding: 15px;
}

.has-subtitle-title {
    margin-top:0px !important;
    margin-bottom:0px !important;
}

body .table>tbody>tr>th,
body .table>tfoot>tr>td,
body .table>tfoot>tr>th,
body .table>thead>tr>td,
body .table>thead>tr>th
{
padding: 5px;
}
.bookingStatus .checkbox-inline, .bookingStatus .radio-inline{
      display: inline-flex;
}
.bookingStatus .checkbox input[type=checkbox],
.bookingStatus .checkbox-inline input[type=checkbox],
.bookingStatus .radio input[type=radio],
.bookingStatus .radio-inline input[type=radio] {
    margin-left: -20px;
    position: inherit;
}
body .lgx-btn-sm {
    font-size: 12px;
    padding: 0.8rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}
body.login .login-container {
    margin-top: -283px !important;
}
.banner_img {
    max-height: 365px;
    object-fit: fill;
    overflow: hidden;
}

a.seeall:hover {
    color: blue;
}
.dropdown-toggle:after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;}
footer {
    clear: both;
}
.events_hover:hover{
    color:#039be5;
}

.ticket_right_content {
    width:40%;
}

.notes_wrapper p strong,.notes_wrapper p {
    font-size:14px;
    line-height:1.5
}
.event_content span {
    font-size: 16px !important;
}
.profile_main div a:hover i {
    color: #ff5c02;
}
.lgx-about-content span a:hover {
    color: #4fa4f2 !important;
}
