.bg-image {
    background-position: center center;
     background-image: url("../images/event/event.png");
    background-size: cover;
    background-position: center center;
    height: auto;
    background-repeat: no-repeat;
}
@media (max-width: 767px) {

/*loginn page css responsive*/
.bg-image {
    background-position: center center;
     background-image: url("../images/event/event.png");
    background-size: cover;
    background-position: center center;
    /* height: 100vh; */
    background-repeat: no-repeat;
}
.d-none {
    display: block !important;
}
.bg-light {
    /* background-color: rgb(0 0 0 / 31%) !important; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}
.login {
    min-height: 100vh;
    /* background-color: rgb(53 61 107 / 54%); */
    position: inherit;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    /* color: #fff; */
}
.home_btn {
    float: right;
    margin-top: 15px;
    z-index: 1;
    position: relative;
}
 body .ticket_list {
    flex-direction: column;
  }
   body .lgx-btn {
    padding: 1rem 1.5rem;
  }
   body .lgx-footer-single {
    text-align: left;
    margin: 0 15px;
  }
  .custom-control.custom-checkbox.mb-3 a {
    color: #fff;
}

}
