.card-img-top{
    height:139px;
    border-radius: 20px 20px 0px 0px;
}
.card{
    border-radius: 20px 20px 20px 20px;
}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.05rem;
    border-radius: 0px 0px 20px 20px;
    background: #D9D9D9;
    height: 122px;
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px;
    text-align: start;
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}
.card_info{
   text-align: start;
    margin-top: -69px;
    margin-left: 149px;
    line-height:2px;
}
.profile_main{
    padding:40px;
    display:flex;
}
.profile_setting {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #080D40;
    align-items: center;
    float: left;
    width: 100%;

}

.profile_setting img {
    float: left;
    margin-top: 5px;
}
.profile_organizer {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #EBEBEB;
    align-items: center;
    float: left;
    width: 100%;
}
.profile_organizer img {
    float: left;
    margin-top: 5px;
}

.profile_bank {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #EBEBEB;
    align-items: center;
    float: left;
    width: 100%;
}
.profile_bank img {
    float: left;
    margin-top: 5px;
}


.profile_stripe {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #EBEBEB;
    align-items: center;
    float: left;
    width: 100%;
}
.profile_stripe img {
    float: left;
    margin-top: 5px;
}

.profile_mailchimp {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #EBEBEB;
    align-items: center;
    float: left;
    width: 100%;
}
.profile_mailchimp img {
    float: left;
    margin-top: 5px;
}

.profile_seller {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #EBEBEB;
    align-items: center;
    float: left;
    width: 100%;
}
.profile_seller img {
    float: left;
    margin-top: 5px;
}

.profile_support {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #EBEBEB;
    align-items: center;
    float: left;
    width: 100%;
}
.profile_support img {
    float: left;
    margin-top: 5px;
}

.profile_text {
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    float: left;
    color: #fff;
    font-size: 16px;
}
.profile_resetpin{
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #EBEBEB;
    align-items: center;
    float: left;
    width: 100%;

}
.profile_resetpin img {
    float: left;
    margin-top: 5px;
}
.profile_logout img {
    float: left;
    margin-top: 5px;
}
.profile_logout{
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px;
    background: #EBEBEB;
    align-items: center;
    float: left;
    width: 100%;

}




.ti-form-label  {
    margin-bottom: .5rem;
    display: block;

    line-height: 1;
    font-weight: 300;
    margin-bottom: 5px;
    color: #000;
    font-size: 16px !important;


}

.ti-form-input {
    display: block;
    width: 100%;
    align-items: center;
    padding: .75rem 1rem;
    line-height: 1.25rem;
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid #999;




}
.input-container {
    display: flex;
}
.profile_form{
    border-radius: 15px;
    border: 1px solid #000;
    padding: 44px;
}
.profile_save{
    padding: 8px 236px 12px 236px;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
background: #FF5C02;
color: white;

}
.save_button{
    margin-top: 30px;

}
.profile_info_user{
    margin-top: 10px;
}
.profile_form_title{
    color: #000;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}
.card_name{
    font-size: 18px;
    font-weight: 500;
    color: black;
    line-height: 25px;

}
.card_mail{
    color: #000;
    line-height: 20px;
}
.profile_icon{
    color: #D9D9D9;
    font-size: 19px;
    font-weight: 600;
    text-align: right;
    float: right;
    display: flex;
    justify-content: end;
    margin-top: 12px;
}
.profile_text{
    margin-left: 30px;
}
.profile_icon1{

    color: #0f0e0e;

    font-size: 19px;
    font-weight: 600;
    text-align: right;
    float: right;
    display: flex;
    justify-content: end;
    margin-top: 12px;
}
.profile_text1{
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    float: left;
    color: #131313;
    font-size: 16px;
}
.profile_icon2{
    color: #0f0e0e;

    font-size: 19px;
    font-weight: 600;
    text-align: right;
    float: right;
    display: flex;
    justify-content: end;
    margin-top: 12px;
}
.profile_text2{
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    float: left;
    color: #0b0a0a;
    font-size: 16px;
}
body .lgx-btn-sm {

    margin: inherit;
}


@media screen and (max-width: 767px){
    .ti-form-label  {
        margin-bottom: .5rem;
        display: block;
        line-height: 1;
        font-weight: 300;
        margin-bottom: 5px;
        color: #000;
        font-size: 16px !important;
    }
    body .lgx-btn-sm {
        font-size: 12px;
        padding: 0.8rem 0.5rem;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        justify-content: center;
    }
    body .lgx-btn{width:100%;}
    body .profile_form {
        border-radius: 15px;
        border: 1px solid #000;
        padding: 18px;
    }
}

@media screen and (max-width: 580px){
body button.lgx-btn-black.lgx-btn, body .lgx-btn {
    width: 100% !important;
}
body .save_button {
    margin-top: 30px;
    display: block;
    justify-content: center;
    display: flex;
}
body .profile_info_user label.host-text {
    padding-bottom: 10px;
    text-align: center;
}

}

