/* VOyager custom theme */

/* Dashboard */
.custom-dashboard .panel.widget {
    border-radius: 18px;
}
.custom-dashboard .panel.widget .dimmer {
    background: #fff;
    border-top: 3px solid #1b89ef;
}
.custom-dashboard .panel.widget i {
    background: #1b89ef;
}
.custom-dashboard .panel.widget p {
    font-size: 16px;
    color: #fff;
}
.custom-dashboard-dropdown {
    padding-top: 25px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-2 {
    margin-top: 2rem !important;
}
.text-bold {
    font-weight: 600 !important;
}
.custom-table-foot {
    display: table-footer-group !important;
    background: #f8fafc !important;
}
.voyager .table>thead>tr>th {
    font-size: 11px;
    font-weight: 600;
    white-space: nowrap;
}
#dataTable a {
    font-weight: 600;
}
.voyager .table>tbody>tr>td {
    font-size: 13px;
}
/* Sidebar */
.voyager .side-menu .navbar-header .navbar-brand img {
    width: 48px !important;
    height: auto !important;
    top: 0  !important;
}
.voyager .side-menu.sidebar-inverse {
    background: #fff;
}
.expanded .side-menu .panel.widget .dimmer, .side-menu:hover .panel.widget .dimmer {
    background: #fff;
}
.side-menu .panel.widget {
    padding: 12px 0 18px 0;
}
.panel.widget h4 {
    font-size: 18px;
    color: #1b89ef;
    margin-top: 18px;
}
.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: rgba(118, 131, 143, 0.78);
}
.voyager .side-menu.sidebar-inverse .navbar li.active>a {
    color: #1b89ef;
    border-right: 3px solid #1b89ef;
}
.voyager .side-menu.sidebar-inverse .navbar li>a:hover {
    color: #1b89ef;
    background: transparent;
    border-right: 3px solid #1b89ef;
}
.voyager .navbar.navbar-default .navbar-nav>li:hover>a, .voyager .navbar .navbar-nav>li:hover>a {
    color: #1b89ef;
}
.voyager .side-menu.sidebar-inverse .navbar li.dropdown>.panel-collapse {
    background-color: #f3f3f3;
}
.side-menu .panel.widget {
    background: #fff !important;
}
.side-menu .panel.widget h4 {
    color: #717171;
}

/* Buttons */
.btn-primary, .btn-info, .btn-success, .btn-danger, .btn-warning {
    border-radius: 14px !important;
    padding: 9px 18px;
    box-shadow: 0 5px 7px rgba(51,52,94,.12), 0 2px 4px rgba(0,0,0,.07) !important;
}
.btn:hover {
    transform: translateY(-1px);
}
.btn.btn-primary {
    background: #1b89ef;
}

/* Images */
img {
    border-radius: 12px;
    width: 50%;
}

/* Dropdown */
.dropdown-menu.dropdown-menu-center {
    right: 0;
    width: 50%;
    margin: 0 auto;
}

/* Users */
form.form-edit-add label[for=additional_roles],
form.form-edit-add select[name='user_belongstomany_role_relationship[]'],
form.form-edit-add select[name='user_belongstomany_role_relationship[]'] + span.select2,
form.form-edit-add label[for=locale],
form.form-edit-add select[name=locale],
form.form-edit-add select[name=locale] + span.select2
{
    display: none;
}

/* Start statistics */
.statistics {
    color: #FFF;
}
.statistics .box {
    background-color: #1b89ef;
    padding: 1rem;
    overflow: hidden;
    border-radius: 20px;
}
.statistics .box > i {
    float: left;
    color: #FFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.5rem;
}
.statistics .box .info {
    width: auto;
}
.statistics .box .info h3 {
    margin: 0;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 2.2;
}
.statistics .box .info p {color:#fff}

/* End statistics */


/* Sweetalert */
.custom-swal-container {
  padding: 2rem 1rem 2rem 2rem !important;
  z-index: 99999999 !important;
}
.custom-swal-popup {
  border-radius: 8px !important;
  border: 2px solid transparent !important;
  box-shadow: 0 14px 26px -12px rgba(152, 169, 195, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(152, 169, 195, 0.2) !important;
}
.custom-swal-popup .swal2-icon.swal2-error,
.custom-swal-popup .swal2-icon.swal2-question,
.custom-swal-popup .swal2-icon.swal2-warning,
.custom-swal-popup .swal2-icon.swal2-info,
.custom-swal-popup .swal2-icon.swal2-success,
.custom-swal-popup .swal2-icon.swal2-success .swal2-success-ring {
  border: none !important;
}
.custom-swal-popup-error {
  border-color: #FF7273 !important;
}
.custom-swal-popup-error p, .custom-swal-popup-error .custom-swal-content {
  color: #FF7273 !important;
}
.custom-swal-popup-error .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  background-color: #FF7273 !important;
}
.custom-swal-popup-error .custom-swal-confirm-button {
  background-color: #FF7273 !important;
}
.custom-swal-popup-success {
  border-color: #00b289 !important;
}
.custom-swal-popup-success p, .custom-swal-popup-success .custom-swal-content {
  color: #00b289 !important;
}
.custom-swal-popup-success .swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #00b289 !important;
}
.custom-swal-popup-info {
  border-color: #039BE5 !important;
}
.custom-swal-popup-info p, .custom-swal-popup-info .custom-swal-content {
  color: #039BE5 !important;
}
.custom-swal-popup-info .swal2-icon.swal2-info {
  color: #039BE5;
}
.custom-swal-popup-warning {
  border-color: #eda514 !important;
}
.custom-swal-popup-warning p, .custom-swal-popup-warning .custom-swal-content {
  color: #eda514 !important;
}
.custom-swal-popup-warning .swal2-icon.swal2-warning {
  color: #eda514 !important;
}
.custom-swal-header {
  padding-left: 0.6rem !important;
  padding-right: 0.2rem !important;
  font-size: 1.5rem !important;
}
.custom-swal-content {
  padding: 0.5rem !important;
  font-size: 1.5rem !important;
}
.custom-swal-content p {
  text-align: left;
    padding: 0px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 1rem;
    font-family: inherit !important;
}

.custom-swal-confirm-button {
  font-size: 1.4rem !important;
}

.custom-swal-cancel-button {
  font-size: 1.2rem !important;
}
/* end Sweetalert */

.site-footer-right {
    display: none;
}

/* Hide tinymce branding */
.mce-branding {
  display: none !important;
}

.side-menu-container .navbar-brand .title {
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 178px;
}
#ticket_add select.coupon_type.form-control {width: 100px;}
.lgx-panel a .lgx-single-schedule .schedule-info .time {
    float: none;
}

.voyager .navbar.navbar-default .navbar-right {
    background-color: #fff;
    display: flex;
}


@media (max-width: 580px) {
  .voyager .expanded .navbar.navbar-default .navbar-right{
    margin: 0px -45px;
  }

}


.table>thead>tr>th {
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
    white-space: nowrap;
}
.app-container .content-container .side-menu .navbar-nav li a{
  font-size: 14px !important;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a{
  padding: 0;
}

body .table>tbody>tr>td,
body .table>tbody>tr>th,
body .table>tfoot>tr>td,
body .table>tfoot>tr>th,
body .table>thead>tr>td,
body .table>thead>tr>th
{
padding: 5px;
}
body .checkbox-inline, body .radio-inline{
      display: inline-flex;
}

body .lgx-btn-sm {
    font-size: 12px;
    padding: 0.8rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}
.form-control{height: auto;}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-left: -20px;
    position: inherit;
}


.voyager table.dataTable thead th.sorting:after {
    content: none !important;
}
.voyager table.dataTable thead th.sorting_desc:after {
    content: none !important;
}
#dataTable th span {
    cursor: pointer;
}
input[type=date].form-control{
    line-height: 18px !important;
}
