<template>
    <div class="organizer-events">
        <form ref="form" @submit.prevent="validateForm" method="POST" >
            <div class="card">
                <h3 class="title px-5">
                    Payment Method
                </h3>
                <div class="card-body px-5">
                    <div class="row mb-3">
                        <div class="col-md-3" v-if="stripePublishableKey">
                            <strong class="pb-3">
                            <input type="radio"  value="Stripe" name="payment_method" v-model="payment_method"> Stripe
                            </strong>
                        </div>
                        <div class="col-md-3">
                            <strong class="pb-3">
                            <input type="radio" value="Wallet" name="payment_method" v-model="payment_method"> Wallet
                            </strong>
                        </div>
                    </div>
                    <stripe-component 
                            ref="stripe" 
                            v-if="payment_method == 'Stripe'"
                            :payment_method="payment_method"   :bookings_data="bookings_data"  :stripePublishableKey="stripePublishableKey"
                                    :stripeSecretKey="stripe_secret_key"
                    ></stripe-component>

                    <wallet-component 
                                ref="wallet" 
                                v-if="payment_method == 'Wallet'"
                                :payment_method="payment_method"   :bookings_data="bookings_data" :wallets="wallets" :wallet_url="wallet_url"
                                
                    ></wallet-component >
                    <input type="hidden" name="price" :value="price" >
                    <input type="hidden" name="event_title" :value="title" >
                    <button  type="submit" class="btn lgx-btn btn-block mt-2" ><i class="fas fa-cash-register"></i> Submit</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

import mixinsFilters from '../../mixins.js';
import Stripe from './custom/Stripe.vue';
import Wallet from './custom/Wallet';

export default {

    mixins:[
        mixinsFilters
    ],

    props: [
    'wallets',
    'wallet_url',
    'price',
    'title'
        
    ],
    data() {
        return {
            payment_method      : 'offline',  
            stripePublishableKey  : stripe_publishable_key,
            stripe_secret_key     : stripe_secret_key,
            cardName    : "",
            cardNumber  : "",
            cardMonth   : "",
            cardYear    : "",
            cardCvv     : "",
            bookings_data : null,
            
        }
    },

    components: {
        'stripe-component' : Stripe,
        'wallet-component' : Wallet,
    },
    methods: {
        validateForm(e) {
            this.bookTickets();
        },
        
        bookTickets(){
            let post_data = new FormData(this.$refs.form);
            if(this.payment_method == 'Stripe') {
                this.stripePayment(post_data);
            }else if(this.payment_method == 'Wallet'){
                
                axios.post(route('ticketTransferWalletPayment'), post_data)
                .then(res => {
                    console.log(res);
                    console.log(res.data.status);
                    if(res.data.status == true) {
                        // this.showNotification('error', res.data.message);
                        // // hide loader
                        // Swal.hideLoading();

                        // close popup
                        // this.close();
                        this.showNotification('success', 'Ticket transfer request accepted successfully !!');
                        setTimeout(() => {
                            window.location.href = route('eventmie.mybookings_index');    
                        }, 1000);
                       
                        
                    }
                    else if(res.data.status == false){
                        this.showNotification('error', res.data.message);
                        // window.location.href = res.data.url; 
                    
                       
                    }

                })
                .catch(error => {
                    this.disable = false;
                    let serrors = Vue.helpers.axiosErrors(error);
                    if (serrors.length) {
                        
                        this.serverValidate(serrors);
                        
                    }
                });
            }
            
    },

    stripePayment(bookings_data = null) {
           this.bookings_data = bookings_data;
           this.$refs.stripe.stripeCheckout();
           
        },


    },

    mounted() {
      
    }
}
</script>