<template>
    <div class="row" v-if="payment_method == 'Wallet'">
        <div class="col-md-12">
            
            <div v-if="wallets.length == 0"><h4>Wallet account is not created with your account . Please create account with reset password with this link <a :href="wallet_url">Click Here</a></h4></div>
            <ul class="list-group m-0" v-for="(item, index) in wallets" 
                        :key = "index">
            
                    <li v-if="item.ledger.name == 'GBP'" class="list-group-item  justify-content-between lh-condensed d-flex-wrap"
                    > 
                    
                    <input type="radio" name="wallet" :value="item.id" checked> <img v-if="item.ledger.image !== null" :src="item.ledger.image" class="img-circle" style="max-width: 5%!important;" alt=""> {{ item.ledger.name  }}
                    </li>
            </ul>

        </div>
    </div>
</template>


<script>
import mixinsFilters from '../../../../../eventmie-pro/resources/js/mixins.js';



export default {
    
    mixins:[
        mixinsFilters
    ],

    data() {
        return {
            
        }

        
    },
    props: [
        'payment_method',
        'wallets',
        'wallet_url'
       
    ],
   
}
</script>

